img{
    width:214px;
}
h1 { 
    color:Pink;
}
p{
    color: Pink;
    font-size: 30px;
}
li{ 
    color: Pink;
    font-size: 30px;
}
body{
    text-align:center;
    list-style-position:inside;
    
}
